html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

#root {
  height: 100%;
}
