services:
  backend:
    build: .
    container_name: anas-api
    ports:
      - "8000:8000"
    depends_on:
      - db
      - llm
    env_file:
      - .env
    environment:
      - SECRET_KEY=${SECRET_KEY}
      # Creating url as: postgresql://user:password@SERVICE_NAME:PORT/DB_NAME
      - DATABASE_URL=postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@db:${DATABASE_PORT}/${DATABASE_NAME}
      - LLM_SERVICE_URL=http://llm:8001

  llm:
    build:
      context: ./llm_endpoint
      dockerfile: Dockerfile
      args:
        ARCHITECTURE: ${ARCHITECTURE:-cpu}
    container_name: anas-llm
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
      - HF_TOKEN=${HF_TOKEN}
      - LLM_SERVICE_PORT=8001
    ports:
      - "8001:8001"
    volumes:
      - hf_cache:/root/.cache/huggingface
    restart: unless-stopped

  db:
    image: postgres:17
    container_name: anas-db
    restart: always
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${DATABASE_USER}
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
      - POSTGRES_DB=${DATABASE_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432" # to remote connect if needed

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5173:80"
    environment:
      - NODE_ENV=production
    restart: unless-stopped

volumes:
  postgres_data:
  hf_cache: